@import 'variables';

.member {

    display: grid;
    grid-template-areas: 'one'
                         'two'
                         'three';

    &__image {
        height: 22.3rem;
        display: block;
        margin: 3.2rem auto 0;
    }

    &__img-container {
        border-bottom: 1px solid #383B4B;
        grid-area: one;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 1.6rem;
        cursor: pointer;
        margin: 3.2rem 0;
        grid-area: two;
    }

    &__text-content {
        grid-area: three;
    }

    &__button {
        width: 1rem;
        height: 1rem;
        background-color: #FFFFFF;
        opacity: 0.17;
        border-radius: 100%;
        border: none;
    }

    &__button-selected {
        opacity: 1;
    }

    &__role {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.8rem;
        color: white;
        opacity: 0.5;
        margin-bottom: 0.8rem;
    }

    &__name {
        font-size: 2.4rem;
        line-height: 2.75rem;
        color: white;
        margin-bottom: 1.6rem;
    }

    &__bio {
        font-size: 1.5rem;
        color:#D0D6F9;
        line-height: 2.5rem;
        font-family: 'Barlow', sans-serif;
    }
}

@media screen and (min-width:550px) {
    .member {

        &__img-container {
            grid-area: three;
            border-bottom: none;
        }

        &__image {
            width: 52%;
            height: auto;
        }
    
        &__list {
            grid-area: two;
            margin: 4rem 0;
        }
    
        &__text-content {
            grid-area: one;
            padding-top: 6rem;
        }

        &__role {
            font-size: 2.4rem;
            line-height: 2.75rem;
        }

        &__name {
            font-size: 4rem;
            line-height: 4.854rem;
        }

        &__bio {
            font-size: 1.6rem;
            line-height: 2.8rem;
            max-width: 60%;
            margin: auto;
        }
    }
}

@media screen and (min-width:1100px) {

    .member {
        grid-template-columns: 1fr 1fr;

        grid-template-areas: 
        'one three'
        'two three';

        &__img-container {
            grid-area: three;
            border-bottom: none;
            display: flex;
            align-items: flex-end;
        }

        &__image {
            width: 100%;
            height: auto;
        }
    
        &__list {
            grid-area: two;
            margin: 12rem 0 9.4rem;
            justify-content: flex-start;
        }
    
        &__text-content {
            grid-area: one;
            padding-top: 15.4rem;
            text-align: left;
        }

        &__role {
            font-size: 3.2rem;
            line-height: 3.6rem;
            margin-bottom: 1.5rem;
        }

        &__name {
            font-size: 5.6rem;
            line-height: 6.4rem;
            margin-bottom: 2.7rem;
        }

        &__bio {
            font-size: 1.8rem;
            line-height: 3.2rem;
            max-width: 68%;
            margin: 0;
        }
    }
}