@import 'variables';

.destination, .crew {
    padding: 8.8rem 2.4rem 5.8rem 2.4rem;
}

.destination {
    background: url("../assets/destination/background-destination-mobile.jpg") no-repeat;
}

.crew {
    background: url("../assets/crew/background-crew-mobile.jpg") no-repeat;
}